<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbs.dao.MainPostDao">
	
	<!-- 获取所有帖子信息 -->
	<select id="getMainPostList"  resultType="com.bbs.pojo.MainPost">
		select * from main_post
	</select>
	
<!-- 	<select id="getMainPostListUser"  resultType="com.bbs.pojo.MainPost"> -->
<!-- 		select * from main_post limit #{startIndex},#{pageSize} -->
<!-- 	</select> -->
	
	<insert id="addMainPost" parameterType="com.bbs.pojo.MainPost">
		insert into main_post(userID,mainPostTitle,mainPostTime,mainPostContent,mainPostImg) 
		values(#{userID},#{mainPostTitle},#{mainPostTime},#{mainPostContent},#{mainPostImg})
	</insert>

</mapper>