<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbs.dao.MusicDao">
<!-- 插入歌曲 -->
	<insert id="addMusicSong" parameterType="com.bbs.pojo.Music">
		insert into music(musicName,singer,album,musicOtherName,musicImgName) 
		values(#{musicName},#{singer},#{album},#{musicOtherName},#{musicImgName})
	</insert>
<!-- 查询所有歌曲	 -->
	<select id="getMusicList"  resultType="com.bbs.pojo.Music">
		select * from music
	</select>

<!-- 查询单个曲子信息 -->
	<select id="getOneMusic" parameterType="int" resultType="com.bbs.pojo.Music">
		select * from music where musicID = #{musicID}
	</select>
	<!-- 	删除音乐 -->
	<delete  id="deleteMusic" parameterType="int">
	    delete from music where musicID=#{musicID}		
	</delete>
	<!-- 	管理员修改音乐信息 -->
	<update  id="updateMusicById">
	    update music set musicName=#{musicName}, password=#{password}, 
	    phoneNum=#{phoneNum}, gender=#{gender}, competence=#{competence}
        where musicID = #{musicID}		
	</update>
	
</mapper>